---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import About from '../components/About';
import Footer from '../components/Footer';
---

<Layout title="About Easybank">
	<Header />
	<main>
		<About />
	</main>
	<Footer />
</Layout>