---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<Layout title="Easybank Blog">
	<Header />
	<main>
		<h1>Blog</h1>
	</main>
	<Footer />
</Layout>