---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<Layout title="Easybank Careers">
	<Header />
	<main>
		
	</main>
	<Footer />
</Layout>