---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Features from '../components/Features';
import Blog from '../components/Blog';
import Footer from '../components/Footer';
---

<style is:global>
	p {
		color: hsl(240, 5%, 65%);
	}
</style>

<Layout title="Easybank">
	<Header />
	<main class="relative overflow-hidden">
		<Hero />
		<Features />
		<Blog />
	</main>
	<Footer />
</Layout>