---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Features from '../components/Features';
import Blog from '../components/Blog';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Features />
		<Blog />
	</main>
	<Footer />
</Layout>