---
import LogIn from '../components/LogIn';
import PlainLayout from '../layouts/PlainLayout.astro';
---

<PlainLayout title="Easybank Login">
    <main class="h-full">
        <LogIn />
    </main>
</PlainLayout>
