---
import SignUp from '../components/SignUp';
import PlainLayout from '../layouts/PlainLayout.astro';
---

<PlainLayout title="Easybank Sign Up">
    <main class="h-full">
        <SignUp />
    </main>
</PlainLayout>
